<% t = Time.now %>
<div class="row">
    <div class="large-12 columns">
    	<hr />
		<footer>
			<p style="text-align:center;font-weight:bold;">event > starter: It Gets It Going.</p>
			&copy;<%= t.year %>, 200 Beers Productions.  Thanks for Using!
		</footer>
	</div>
</div>