<div class="row">
    <div class="large-12 columns">
    	<hr />
		<header>
			<p>Eventstarter allows anyone to easily create and organize events that have a "tipping point" of a required number of attendees. Users can create events such as pickup games, camping trips, and party bus excursions and invite their friends. If enough people indicate they want to attend, an email goes out to all who have signed up notifying them Game On&trade;.
			</p>
		</header>
		
	</div>
</div>