<div class="row">
    <div class="large-12 columns">
    	<hr />
		<header>
			<p>Gamestarter allows athletes to easily create pickup games. Users can create pickup games and invite their friends. If enough people indicate they want to play, an email goes out to all who have signed up notifying them Game On&trade;.
			</p>
		</header>
		
	</div>
</div>