<h3 class="teal">About Event Starter</h3>

<strong>Our starting question: What if you wanted to organize a pickup basketball game?</strong>

<p>You could send out an email to all your friends asking if they would want to play, but chances are that nobody would want to play unless a minimum number of people would be guaranteed to show up. </p>

<strong>What are some great uses of our our software?</strong>

<p>Lorem Ipsum event planning, etc. </p>


<div class="row">
	<hr />
	<div class="large-12 columns">
		<h3 class="teal center">Makers: </h3>
	</div>
</div>

<div class="row">
	<div class="large-4 columns">
		<div class="profile-pic-wrap">
			<p><img class="profile-pic" src="http://en.gravatar.com/userimage/50436475/31231ef1b819427e47be5dbf8ba7c521.jpg?size=300" /></p>
			<p class="center"><a href="http://twitter.com/clay_stewart" target="_blank">@Clay_Stewart</a></p>
		</div>
	</div>
	<div class="large-4 columns">
		<div class="profile-pic-wrap">
			<p><img class="profile-pic" src="https://2.gravatar.com/avatar/a1f9799485c9d653d3668638b88c57d6?size=300" /></p>
			<p class="center"><a href="http://twitter.com/taylor_w_smith" target="_blank">@Taylor_W_Smith</a></p>
		</div>
	</div>

	<div class="large-4 columns">
		<div class="profile-pic-wrap">
			<div class="profile-pic-wrap">
				<p><img class="profile-pic" src="https://0.gravatar.com/avatar/9bff0f41b35511778c453b39342c6c0d?size=300" /></p>
				<p class="center"><a href="http://twitter.com/bangner" target="_blank">@bangner</a></p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<hr />
		<h3 class="teal">Beginnings: </h3>
			<p>This was our first <a href="http://www.themakersquare.com/" target="_blank">Makersquare</a> Hackathon project created around September 20th, 2013. We hope you enjoy.</p>
	</div>
</div>