<% if @full == false %>
	<p>YOU'RE IN!</p>
	<br />
	<br />
	<br />
	<p>Number of People Attending: <%= @counter_of_attendees %></p>
	<br />
	<br />
	<br />
<% else %>
	<p> Event is Full! Maximum number has been reached. </p>


<% end %>