<p>YOU'RE IN!</p>

<% # @new_attendees_array.inspect %>
<br />
<%# @new_attendees_array.inspect %>
<br />
<br />
<p>There are currently _<%= @counter_of_attendees %>_ people coming.</p>
<br />
<br />
<br />
<%= @counter_at_this_point.inspect %>
