<p>YOU'RE FUCKIN IN</p>

<%= @new_attendees_array.inspect %>
<br />
<%# @new_attendees_array.inspect %>
<br />
<br />
There are currently <%= @counter_of_attendees %> people coming
<br />
<br />
<br />
<%# @event_id %>