<section class="hero-unit">
	<!-- <h3 id="big-icon">g>st</h3> -->
	<div id="big-logo">
		<img src="img/gamestarterlogo-big.png">
	</div>
	<!-- <h3 id="main-logo"><span class="red">game></span>starter</h3> -->
	<div class="hero-button-wrapper">
		<p><a href="/new_event" class="large alert button">Create Event Now</a></p>
	</div>
</section>

<section>
	<p>game > starter: It Get's it going.</p>
</section>

<section>
	<%= erb :_index_about %>
</section>