<section class="hero-unit">
	<!-- <h3 id="big-icon">g>st</h3> -->
	<div id="big-logo">
		<img src="img/eslogo.png">
	</div>
	<!-- <h3 id="main-logo"><span class="red">game></span>starter</h3> -->
	<div class="hero-button-wrapper">
		<p><a href="/new_event" class="large alert button">Create Event Now</a></p>
	</div>
</section>

<section>
	<p style="text-align:center;font-weight:bold;font-size:2em;">Start an event with a <u>minimum number</u>&trade; of people,<br />and when the event has enough people,<br />then it's on and everyone is notified.</p>
</section>

<section>
	<%= erb :_index_about %>
</section>