@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,800,600,700);

body {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0;
/*	line-height: 0;*/
}

/*h3#big-icon {
	font-size: 10em;
	text-decoration: underline;
}*/

h3#main-logo {
	font-size: 5em;
	text-decoration: underline;
}

h3#main-logo .red {
	color: #c20017;
}

div.grey-box {
	background: #cccccc;
}

/*----- top nav -----*/
h1#topnav-logo span.pink {
	color: #ff328f;
}


nav ul#top-nav {
	list-style: none;
	margin: 20px 0 0 0;
}

nav ul#top-nav li {
	display: inline;
	padding: 0px 5px; 
}
nav ul#top-nav li:hover {
	background: #2ba6cb;
	/*color: #ffffff;*/
}
nav ul#top-nav li a:hover {

	color: #ffffff;
}

/* ---- hero unit ----*/

section.hero-unit {
	text-align: center;
	line-height: 10px;
	background: #cccccc;
	border-radius: 20px;
	-webkit-border-radius: 20px;
}

.hero-button-wrapper p a.large.alert.button {
	background: #f5538a;
}

input[type=submit].large.success.button.pink {
	background: #f5538a;
}

/* ---- footer  ----*/

footer {
	margin-bottom: 20px;
	text-align: center;
}

